name: Release
on:
  workflow_call:

jobs:
  tests:
    uses: ./.github/workflows/php-sdk-test.yml
    secrets: inherit

  release:
    name: Release @ ${{ vars.RTLDEV_MW_CI_OS }}
    runs-on: ${{ vars.RTLDEV_MW_CI_OS }}
    needs: tests
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      deployments: write
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Setup NodeJS ${{ vars.RTLDEV_MW_CI_NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.RTLDEV_MW_CI_NODE_VERSION }}
          check-latest: true
          cache: pnpm
      - name: Install NodeJS Dependencies
        run: pnpm i --frozen-lockfile
      - name: Java JDK @^${{ vars.RTLDEV_MW_CI_JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ vars.RTLDEV_MW_CI_JAVA_VERSION }}
          distribution: ${{ vars.RTLDEV_MW_CI_JAVA_DISTRO }}
          check-latest: true
      - name: Install Graphviz for UML Diagrams
        run: sudo apt-get install -y graphviz          
      - name: Install PHP ${{ vars.RTLDEV_MW_CI_PHP_VERSION }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ vars.RTLDEV_MW_CI_PHP_VERSION }}
          coverage: xdebug
      - name: Generate UML Diagram for PHP Classes
        run: | 
          echo "$HOME/.composer/vendor/bin" >> "$GITHUB_PATH"
          composer install
          composer run-script generate-uml
      - name: PHP Class Documentation
        run: |
          composer update --no-dev
          composer run-script docs
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.RTLDEV_MW_CI_TOKEN }}
          TEAMS_NOTIFICATION_URI: ${{ secrets.RTLDEV_MW_CI_NOTIFICATION_URI }}
          COMMIT_SHA: ${{ github.sha }}
        run: pnpm exec semantic-release
