name: Release
on:
  workflow_call:

jobs:
  tests:
    uses: ./.github/workflows/php-idna-translator-test.yml
    secrets: inherit

  release:
    name: Release @ ${{ vars.RTLDEV_MW_CI_OS }}
    runs-on: ${{ vars.RTLDEV_MW_CI_OS }}
    needs: tests
    permissions:
      contents: write
      issues: write
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Setup NodeJS ${{ vars.RTLDEV_MW_CI_NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.RTLDEV_MW_CI_NODE_VERSION }}
          check-latest: true
          cache: pnpm
      - name: Install NodeJS Dependencies
        run: pnpm i --frozen-lockfile
      - name: Install PHP ${{ vars.RTLDEV_MW_CI_PHP_VERSION }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ vars.RTLDEV_MW_CI_PHP_VERSION }}
          coverage: xdebug
      - name: Install PHP Dependencies
        run: |
          echo "$HOME/.composer/vendor/bin" >> "$GITHUB_PATH"
          composer update --no-dev
      - name: PHP Class Documentation
        run: composer run-script docs
      - name: Download coverage report folder from previous workflow
        uses: actions/download-artifact@v6
        with:
          pattern: coverage-folder-*
          merge-multiple: true
          path: reports
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.RTLDEV_MW_CI_TOKEN }}
          TEAMS_NOTIFICATION_URI: ${{ secrets.RTLDEV_MW_CI_NOTIFICATION_URI }}
          COMMIT_SHA: ${{ github.sha }}
        run: pnpm exec semantic-release
