name: Release
on:
  workflow_call:

jobs:
  tests:
    uses: ./.github/workflows/semantic-release-whmcs-test.yml
    secrets: inherit
    
  release:
    name: Release
    needs: tests
    runs-on: ${{ vars.RTLDEV_MW_CI_OS }}
    permissions:
      contents: write
      issues: write
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Setup NodeJS ${{ vars.RTLDEV_MW_CI_NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: "${{ vars.RTLDEV_MW_CI_NODE_VERSION }}"
          check-latest: true
          cache: pnpm
      - name: Install NodeJS Dependencies
        run: pnpm i --frozen-lockfile
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.RTLDEV_MW_CI_TOKEN }}
          GITHUB_REPO: ${{ vars.GH_REPO }}
          NPM_TOKEN: ${{ secrets.RTLDEV_MW_CI_NPM_TOKEN }}
          TEAMS_NOTIFICATION_URI: ${{ secrets.RTLDEV_MW_CI_NOTIFICATION_URI }}
          COMMIT_SHA: ${{ github.sha }}
          PUPPETEER_CHROME_SKIP_DOWNLOAD: 'false'
          PUPPETEER_CHROME_HEADLESS_SHELL_SKIP_DOWNLOAD: 'false'
          PUPPETEER_FIREFOX_SKIP_DOWNLOAD: 'true'
        run: pnpm exec semantic-release
